#chatbox {
	width: 700px;
	height: 420px;
	background-color: black;
	margin: auto;
}

#textwin {
	height: 400px;
	width: 525px;
	display: inline-block;
	background-color: white;
	margin-left: 10px;
	margin-top: 10px;
	float: left;
}

#users {
	height: 400px;
	width: 150px;
	display: inline-block;
	background-color: white;
	margin-top: 10px;
	margin-right: 10px;
	float: right;
}

.namebox {
	width: 130px;
	margin: auto;
	border: 1px solid black;
	text-align: center;
	margin-top: 5px;
}

#text {
	margin: auto;
	margin-top: 10px;
	width: 500px;
	height: 350px;
	border: 1px solid black;
	overflow: hidden;
}

#input {
	margin: auto;
	margin-top: 10px;
	width: 500px;
	height: 20px;
}

.messagecontainer {
	width: 480px;
	word-wrap: break-word;
}

#loginbuttons {
	margin: auto;
}

.namebox {
	overflow: hidden;
}